<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hola mundo con Vue</title>
  </head>
  <body>

    <div id="app">
      <h1>{{ title }}</h1>

      <!-- v-model -->
      <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFruta">
      <button @click="agregarFruta">Agregar</button>

      <ul>
        <!-- Ciclo for con v-for -->
        <li v-for="fruta of frutas">
          <input type="number" v-model.number="fruta.cantidad">
          {{ fruta.nombre }}
          <button @click="fruta.cantidad++">+</button>
          <button @click="fruta.cantidad--">-</button>

          <!-- Condicional con v-if -->
          <span v-if="fruta.cantidad === 0">- Sin stock</span>
        </li>
      </ul>

      <h4>Total: {{ sumarFrutas }}</h4>

    </div>

    <!-- Development -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
